/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
