/*================ Links & Buttons ================*/
.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  font-family: $font-stack-header;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  padding: 10px 35px;
  background: black;
  color: white;
  font-size: 0.75em;
  text-transform: uppercase;
  border: 1px solid black;

  transition: background 200ms ease-out;

  &.btn-huge {
    padding: 16px 60px;
  }

  &.btn-secondary {
    color: black;
    background: transparent;
    transition: background 200ms ease-out,
      border-color 200ms ease-out;

    &:hover {
      background: white;
    }
  }

  &.btn-submit:hover {
    background: $color-green-submit;
    border-color: darken($color-green-submit, 2.5%);
  }
}

