a {
  color: black;
}

a:hover {
  color: $color-golden;
}

body {
  font-family: $font-stack-body;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;

  transition: transform 250ms ease-out;
  transform: translateX(0);
  will-change: transform;
}

body.menu-in {
  transform: translateX(300px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-header;
  font-weight: $font-weight-header;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
}

label {
  font-weight: 600;
}

.splashpage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0;
  transition: opacity 300ms ease-out;
  display: none;
  width: 100%;

  &.in {
    opacity: 1;
  }

  .center-content {
    width: 50%;
    text-align: center;
    margin:0px auto;
    position: relative;
    top: 50%;
    margin-top: -225px;
  }

  .logo-container {
    padding: 20px;
  }

  p {
    margin: 0 0 2em 0;
  }
}

body.remove-overflow {
  overflow: hidden;
  height: 100%;
}

.inner-page {
  padding: 40px 0;

  .inner-page-content {
    margin: 0px auto;
    background: white;
    overflow: auto;
    padding: 30px;
  }

  .grey-bg {
    flex-grow: 1;
    background: $color-body;
  }

  .inner-page-section {
    display: flex;
    flex-direction: column;
  }

  .inner-page-section-content {
    margin: 30px 0;
    padding: 1px;

    @media (max-width: $grid-medium){
      margin: 0;
      padding: 0;
    }
  }

  .inner-page-section-right {
    padding-right: 30px;
  }

  .page-title {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: block;
  }
}

@media (max-width: $grid-medium){
  .inner-page {
    padding-top: 0;
  }

  .inner-page .inner-page-content {
    display: block !important;
  }
  .inner-page .inner-page-section-right {
    padding-left: 30px;
  }

  .inner-page .grid__item.one-whole:not(:first-child) {
    margin-top: 10px;
  }
}

// classes for font size
.font-bigger {
  font-size: 1.33em;
}
.font-huge {
  font-size: 1.55em;
}

.small-titles {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #787979;
}

.light-links {
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: $color-golden;
  }

}
.text-right {
  text-align: right;
}

.two-columns {
  @media (min-width: $grid-medium){
    column-count: 2;
    column-gap: 3em;
  }
}

.sidebar-links {
  a {
    display: block;
    //font-size: 1.5em;
    line-height: 1.5em;
  }

}
.table-opening-hours {
  td:nth-child(2){
    text-align: right;
  }
}

.maps-iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
