$default-spacing: 10px;

.grid-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 100%;
  padding: calc(#{$default-spacing} / 2);

  @media(min-width: $width-site) {
    width: calc(100% + #{$default-spacing});
    max-width: none;
    padding: calc(#{$default-spacing} / 2) 0;
    margin-left: calc(-#{$default-spacing} / 2);
  }
}

.grid-product__row {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-product__column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  @media(min-width: $grid-medium) {
    flex-basis: 33.3%;
  }
}

// firefox helper class - I think it's related to some images resizing,
// if flex-wrap: wrap it would break the grid in multiple breakpoints
.grid-product__column--nowrap {
  flex-flow: column nowrap;
}

.grid-product__product {
  flex: 1 0 calc(100% - #{$default-spacing});
  max-height: calc(100% - #{$default-spacing});
  margin: calc(#{$default-spacing} / 2);
  background-color: #dedede;
  position: relative;

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 96.48%;
  }

  img {
    max-width: 80%;
    max-height: 70%;
    flex: 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  > a::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    top: 0;
    left: 0;
    z-index: 0;
  }

  &:not(.grid-product__product--half) {
    width: calc(100% - #{$default-spacing});
  }

  &:not(.grid-product__product--big) {
    > a::before,
    > a::after {
      display: block;
      position: absolute;
      opacity: 0;
      transition: opacity .2s linear;
    }

    > a::before {
      content: 'i';
      padding: 20px 16px;
      border: 3px solid white;
      border-radius: 100%;
      font-size: 25px;
      font-weight: bold;
      line-height: 0;
      color: white;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.grid-product__product--half-height {
  flex: 1 0 calc(50% - #{$default-spacing});
  max-height: calc(50% - #{$default-spacing});
  width: calc(100% - #{$default-spacing});

  > a {
    padding-top: 47.44%;
  }

  img {
    max-height: 55%;
  }
}

.grid-product__product-container {
  flex: 1 0 auto;
  max-height: 50%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-product__product--half {
  flex: 1 0 calc(50% - #{$default-spacing});
  max-width: calc(50% - #{$default-spacing});
  height: calc(100% - #{$default-spacing});

  > a {
    padding-top: 97.22%;
  }

  img {
    max-height: 48%;
  }
}

article.grid-product__product--big {
  background-color: transparent;
  overflow: hidden;

  > a {
    padding-top: 120%;

    @media(min-width: 450px) {
      padding-top: 80%;
    }

    @media(min-width: 700px) {
      padding-top: 31.9%;
    }

    &::after {
      display: block;
      position: absolute;
    }
  }

  img {
    max-width: none;
    height: 100%;
    max-height: none;

    @media(min-width: 700px) {
      width: 100%;
      max-height: none;
      height: auto;
      top: 80%;
    }
  }

  .btn {
    background-color: transparent;
    border-color: white;
    font-size: 16px;
    transition: background-color .2s linear, border-color .2s linear;

    &:hover {
      border-color: #a0947a;
      background-color: #a0947a;
    }
  }
}

.add-to-cart-btn--icon {
  width: 30px;
  height: 27px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-size: 60px auto;
  background-position: 0 0;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 2px;
  transition: background-position .1s linear;

  &:hover {
    background-position: -30px 0;
  }

  .homepage-product:hover & {
    background-position: -30px 0;
  }
}


.grid-product__product__info {
  color: #1a1a1a;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
  transition: color .2s linear;

  strong {
    display: block;
  }

  > span {
    font-size: 14px;
  }

  .homepage-product:hover & {
    color: white;
  }

  .grid-product__product--big & {
    max-width: 520px;
    padding: 10px;
    text-align: center;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    > strong {
      font-size: 30px;
    }

    > span {
      font-size: 27px;
    }
  }
}

.homepage-product {
  will-change: opacity;
  transition: opacity .2s ease-in;

  &:hover {
    a::before,
    a::after {
      opacity: 1;
    }
  }
}
