.homepage-header {
  background-size: cover;
  background-position: 50% 44%;
  height: 70vh;
  overflow: hidden;

  h1, h3 {
    color: white;
  }

  h3 {
    font-family: $font-stack-body;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $grid-medium){
    h1 {
      font-size: 1.4em;
    }
  }


  .homepage-header-container {
    width: 75%;
    height: inherit;
    margin: 0 auto;
    padding: 4em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: $grid-medium){
      width: 90%;
      flex-direction: column;
    }
  }

  .homepage-header-container-logo {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    @media (max-width: $grid-medium){
      width: 160px;
      margin: 0;
    }
  }

  .homepage-header-left,
  .homepage-header-right {
    flex: 1 1 50%;
    @media (max-width: $grid-medium){
      flex: 1 1 100%;
    }
  }

  .homepage-header-right {
    max-width: 500px;
    text-align: left;
    @media (max-width: $grid-medium){
      text-align: center;
    }
  }

  .homepage-subheader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

    @media (max-width: $grid-medium){
      width: 90%;
    }
  }
}

.vodafone-cta {
  background-size: 2732px;
  background-position: 0 5%;
}

.vodafone-cta__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;

  @media(min-width: $grid-medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.vodafone-cta__logo,
.vodafone-cta__copy,
.vodafone-cta__link {
  flex: 0 1 auto;
}

.vodafone-cta__logo {
  width: 120px;
  height: auto;
}

.vodafone-cta__copy {
  max-width: 680px;
  color: #fff;
  text-align: center;

  @media(min-width: $grid-medium) {
    margin: 0 20px;
    text-align: left;
  }
}

.vodafone-cta__link {
  padding: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: $font-stack-header;
  transition: background-color .2s linear, border-color .2s linear;

  &:hover {
    border-color: #a0947a;
    background-color: #a0947a;
    color: #fff;
  }
}


.homepage-counter {
  padding: 1.75em 0;
  background: #1a1a1a;
  border-bottom: 2px solid black;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    margin: 0 auto;
    text-align: center;
  }
}

#shopify-section-homepage-arrival,
#shopify-section-homepage-shelter,
#shopify-section-homepage-future {
  width: 50%;
  height: 690px;
  overflow: hidden;

  @media (max-width: $grid-medium){
    width: 100%;
    height: auto;
  }
}

#shopify-section-homepage-future {
   width: 100%;
   height: 375px;

   @media (max-width: $grid-medium){
     width: 100%;
     height: 215px;
   }
}

.homepage-product-grid {
  padding: 40px 100px;
  background: none;
  overflow: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $grid-medium){
    display: block;
    max-height: none;
    padding: 20px;
  }

  body.products-faded &,
  &.product-hovered {
    a.homepage-product:not(:hover) {
      opacity: 0.65 !important;
    }

    &.product-group-hygiene {
      div[data-group=hygiene] {
        a.homepage-product {
          opacity: 1 !important;
        }
      }
    }

  }
}

.homepage-product {
  will-change: opacity;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  &.product-smaller {
    width: 10%;
  }

  &.product-larger {
    width: 30%;
  }

  transition: opacity 200ms ease-in;


  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0px auto;
  }

  span.product-info {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    //margin-top: 20px;
    padding: 4px 8px;
    //white-space: nowrap;
    .product-name {
      font-family: $font-stack-header;
    }
    .product-name,
    .product-price {
      background: black;
      padding: 2px;
    }
    .product-name {
      margin-top: -8px;
    }
  }

  &:hover {
    opacity: 1;
    span.product-info {
      opacity: 1;
    }
  }

}

.homepage-product-grid-stage {
  width: 100%;
  height: 100%;

  div {
    float: left;
    text-align: center;
  }
}

.homepage-product-grid-masonry {
  .homepage-product-sizer {
    width: 10%;
  }
}

.homepage-buy-store {
  a {
    display: block;
    color: white;
    background: #222;
    padding: 1em 0;
    transition: background 200ms ease-out;
    &:hover {
      //background: #00394C;
      background: $color-golden;
    }
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
}
