html {
  height: 100%;
}

body.template-password {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100%;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 100%;

  @media (max-width: $grid-medium){
    display: block;
  }

  .template-password-container {
    width: 40%;
    max-width: 525px;
    margin: 0px auto;
    background: white;

    @media (max-width: $grid-medium){
      width: 100%;
    }
  }

  .tagline {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 1.5em 0;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    padding: 10px;
    min-width: 215px;
    font-size: 0.75em;
    @media (max-width: $grid-medium){
      min-width: 100px;
    }
  }

  input {
    vertical-align: top;
  }

  button[type="submit"] {
    margin-left: -4px;
  }

  .form-success {
    list-style: none;
    margin: 12px 0;
    padding: 0;
  }

  .hr-logo {
    width: 65px;
    display: block;
    margin: 2em auto;
  }
}

.opening-soon-form {
  margin: 1.5em 0;
  text-align: center;

  .opening-soon-form-content {
    background: $color-body;
    padding: 20px;
  }
}

.media-enquires-link {
  a { color: #999; text-decoration: underline; }
  a:hover { color: black }
  //position: fixed; bottom: 0; left:0; width: 100%;
  padding-bottom: 1.5em;
  font-size: 0.85em;
}

.shopify-challenge__container {
  margin: 40px auto !important;
}
