footer {
  padding: 80px 0 60px !important;
  position: relative;
  background: black;
  color: white;
  overflow: hidden;
  background-size: 2732px;
  background-position: 0 0;

  ul {
    margin: 0;
    padding: 0;
  }

  ul.footer-nav {
    list-style: none;
    li {
      line-height: 1.4em;
    }
  }

  .footer-menu-container {
    padding-left: 0;
  }

  .footer-container {
    padding: 0 40px;
  }

  .hr-logo {
    height: 45px;
  }

  .footer-pattern {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;

  }

  @media (max-width: $grid-large){
    .footer-pattern {
      height: 50px;
      bottom: auto;
    }

    padding-bottom: 0 !important;
  }

  .footer-logos {
    img {
      margin: 0 8px;
    }
  }

}
